@use "custom" as *;


div.message-header {
  background-color: $color-link;
  color: $calendar-background-color-one;
}

div.message-body-content {
  background-color: $calendar-background-color-one;
}

div.graph-buttons {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

#graph_activities_follow_up {
  height: 50svh !important;
  width: auto !important;
  margin: auto;
  display: block;
}

div.card.box.column {
  display: flex;
  flex-direction: column;
  height: 100%;

  .bilan-months-activities-container,
  #bilan-months-weights-container {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    min-width: 100%;
    max-height: 300px;
    overflow-y: auto; /* Enable vertical scrolling */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */

    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for WebKit browsers */
    }

    article {
      transition: all 0.3s ease-in-out;
      overflow-x: auto; /* Enable horizontal scrolling inside each month div */
      overflow-y: hidden;
    }

  }

  .is-multiline.bilan-months-activities-container {
    overflow: scroll;
    height: 200px;
  }

  div.tendance {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    min-width: 100%;

    span.pagination-link {
      width: 4rem;
      height: 4rem;

      & > span {
        font-size: 2rem;
      }
    }

  }

}

.has-background-warning-light {
  max-height: 100%;
  overflow-y: visible;
  overflow-x: hidden;
}

#card_ingredients {
  display: flex;
  flex-direction: column;

  h3 {
    flex-shrink: 0;
  }

  div.list {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    min-width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    div.list-item {
      &:first-child {
        margin-top: 2rem;
      }
    }

    div.list-item-controls span {
      width: 3rem;
      height: 3rem;
    }
  }
}

div.bilan-cards-mobile > div.is-one-fifths-desktop {
  height: 20rem;
}

div.bilan-card-badges-container {
  div.list {
    div.list-item {
      border-block-end: 0 !important;

      div.list-item-image {
        figure.image {
          img.locked {
            filter: grayscale(90%);
          }
        }
      }

      div.list-item-content {
        div.list-item-title span.unlock_legend {
          font-weight: 500;
          font-size: .95rem;
        }
      }
    }
  }
}

