@use "custom" as *;

#calendar {
  background-color: $color-bg-white-ter;
  border-radius: .5rem;
  z-index: 0;
}

.fc-scrollgrid-sync-inner {
  background-color: $color-bg-white-ter;
}

.fc-theme-standard .fc-list-day-cushion {
  background-color: $calendar-background-color-one;
}

.fc-theme-standard td, .fc-theme-standard th, .fc-theme-standard .fc-list, .fc-theme-standard .fc-scrollgrid {
  border: 0;
}

a.fc-col-header-cell-cushion, h2.fc-toolbar-title {
  color: $text-calendar-color-one !important;
}

a.fc-list-day-text {
  color: $text-calendar-color-two;
}

a.fc-list-day-side-text {
  color: $text-calendar-color-one;
}

.fc-daygrid-day-number {
  color: $text-calendar-color-one;
}

td.fc-day-today.fc-daygrid-day {
  background-color: transparent !important;

  .fc-daygrid-day-top a {
    background-color: $text-calendar-color-two;
    color: white !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: center;
  }
}

td.fc-day {
  border-color: transparent;
}

div.fc-daygrid-day-events {
  padding: .3rem;
}

div.fc.fc-daygrid-event-harness {
  margin: .2rem auto;
}
