@charset "utf-8";

$color-points: #c5cae9;
$color-energy: #c8e6c9;
$color-proteins: #f0f4c3;
$color-lipids: #ffe0b2;
$color-carbohydrates: #ffccbc;
$color-fibers: #d7ccc8;

$text: #4a5562;
$text-day-color: $text;
$text-day-font: 'CAbel', sans-serif;
$text-day-size: 1.25rem;
$ringRegularSize: 180px;
$ringTodaySize: 200px;
$height: 15rem;
$mobile-margin-bottom: 5rem;

$mobile-slide-menu-background: #f8f9fa;
$mobile-content-background: #fbfbfa;
$mobile-content-background-dark: #14161a;
$mobile-content-background-box-shadow: #cdcfd0;

$color-red: #ef476f;
$color-green: #06d6a0;

$color-link: #4258ff;
$color-link-two: #747ec9;

$color-text-color-grey: #6b778eff;
$text-calendar-color-one: #2e333d;
$text-calendar-color-two: #6f80ff;
$calendar-background-color-one: #f6f7f8;
$card-background-white: #fbfbfa;
$color-bg-white-ter: #f9fafb;
$color-bg-form: #14161a;
$color-bg-card: #181b20;
$color-bg-dishes-card: #1f2229;
$navbar-mobile-bg: #292A2B;
$color-bg-card-hover: #23272d;
$color-text-dark: hsl(0, 0%, 14%);


input[type=range] {
  writing-mode: horizontal-tb;
  direction: ltr;
  vertical-align: middle;
}






