@charset "utf-8";
@use "custom" as *;

.box {
  box-shadow: none !important;
}

#user-notifications-dropdown {
  .navbar-item > div > span.icon.has-text-grey-darker {
    color: $color-fibers !important;
  }
}

#home-desktop-cards {
  background-color: $color-bg-card;
}

#weekPoints {
  box-shadow: none;
  background-color: $color-bg-card;
}

#daily-points-home-desktop-card > .card {

  box-shadow: none;

  .card-content {
    background-color: $mobile-content-background-dark !important;
    box-shadow: none !important;
  }
}

#activities-bonus-home-desktop-cards > .card {
  box-shadow: none !important;
}

.notification p {
  color: var(--bulma-text-dark);
}

input:-webkit-autofill {

  &:focus {
    //box-shadow: 0 0 0 30px $color-bg-form inset !important;
  }

  //-webkit-box-shadow: inset 0 0 0px 9999px $color-bg-form;
}

span.datepicker-selector {
  background-color: $color-link !important;
}

form.ingredients {
  label.tag {
    color: var(--bulma-text-dark);
  }
}

.pagination-link.is-rounded.has-background-warning-70 {
  background-color: hsl(var(--bulma-success-h), var(--bulma-success-s), var(--bulma-success-75-invert-l)) !important;
}


div.list-item.box {
  box-shadow: none !important;
  background: $color-bg-card !important;

  &:hover {
    background: $color-bg-card-hover !important;
  }
}


#mobile-desktop-cards {
  .column {
    .box {
      .card {
        box-shadow: 0 0 3px $color-bg-card-hover !important;
      }
    }
  }
}

div.card.intakes {

  .title {
    color: var(--bulma-text-dark);
  }

  .subtitle {
    color: $color-text-dark;
  }

  &.points {
    background-color: #a3a6b9; // Darker shade
  }

  &.energy {
    background-color: #a6c8a9; // Darker shade
  }

  &.proteins {
    background-color: #c8d8a3; // Darker shade
  }

  &.lipids {
    background-color: #d8b892; // Darker shade
  }

  &.carbohydrates {
    background-color: #d8a8a2; // Darker shade
  }

  &.fibers {
    background-color: #b7aca8; // Darker shade
  }
}

.meal-dish.box {
  background-color: $color-bg-card;
}

/* Profil */
div.profils-columns {
  div.column > section.box {
    background-color: $color-bg-card;
  }
}

/* Open Food Facts */
span.tag.additives {
  color: #0c214e;
}

#searchOpenFoodFacts {
  background-color: $color-bg-card;
  box-shadow: none;

  .open-food-facts-box {
    box-shadow: none;
  }
}

/* Bilan */

div.message-header {
  background-color: #2e333d;
  color: #f3f4f6;
}

div.message-body-content {
  color: $text-day-color;
}

div.bilan-card-badges-container, .bilan-graphs-mobile {
  box-shadow: none;
  background-color: $color-bg-card;

}

div.list-item-image {
  .image > img.is-rounded {
    border-radius: 0;
  }
}

div.bilan-cards-mobile > div.column > .box {
  box-shadow: none;
  background-color: $color-bg-card;

}

/* Calendar */

#calendar, div.fc-scrollgrid-sync-inner, .fc-theme-standard .fc-list-day-cushion {
  background-color: $color-bg-card;
}

.fc .fc-list-event:hover td {
  background-color: $color-bg-card-hover;
}

a.fc-list-day-side-text, h2.fc-toolbar-title, .fc-daygrid-day-number {
  color: #f3f4f6 !important;
}

/* Tabs */
.tab-content {
  &.meals, &.dishes {
    background-color: $color-bg-card;
    box-shadow: none;
  }
}

/* form */

form.box {
  box-shadow: none;
  background-color: $color-bg-card;
}

/* Ingredients , meals, dishes */

#dropdown-menu {
  background-color: $color-bg-card;

  div.dropdown-content {
    background-color: $color-bg-card;
    box-shadow: none;
  }
}

span.meal-process {
  color: $color-text-color-grey !important;
}

/* cards */

.card.dish {
  background-color: $color-bg-dishes-card
}

.livewire-table-container {
  background-color: $color-bg-card;
  border-radius: .75rem;
  margin: auto;
}

@media (max-width: 768px) {
  .livewire-table-container {
    padding-bottom: 6rem;
    width: 94% !important;
  }

  #dropdown-button-mobile {
    background-color: $color-bg-card !important;
  }
}

/* navbar */
a.navbar-burger {
  background-color: $color-link-two !important;
}

