#mc-btn__clear {
  display: none
}

td.mc-date {
  text-align: center !important;
  vertical-align: middle;
}

td.mc-date--marked.lunch-missing:before {
  content: '🥗';
  display: flex;
  justify-content: space-around;
}

td.mc-date--marked.dinner-missing:before {
  content: '🍔';
  display: flex;
  justify-content: space-around;
}

td.mc-date--marked.lunch-dinner-missing:before {
  content: '🥗🍔';
  display: flex;
  justify-content: space-around;
}

td.mc-date--marked {
  background-color: #f0f0f0;
}

.mc-btn--today {
  color: var(--bulma-link);
  margin-left: .5em;
}