@use "custom" as *;

div.tab-content {
  .search-tab {
    input.search-tab-content {
      width: 80% !important;
    }
  }
}

.is-duration-500 {
  transition-duration: 0.5s;
}

.card.dish {
  background-color: $card-background-white;
  overflow: hidden;
  height: 30rem;
  max-width: 20rem;

  &.transform {
    -webkit-transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
    transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  }

  &.hover-translate-y:hover {
    -webkit-transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1) !important;
    transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1) !important;
  }

  &.is-cursor-pointer {
    cursor: pointer !important;
  }

  &.is-shadow-none {
    box-shadow: none !important;
  }

  &.is-shadow-2xl:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25), 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
  }

  .card-content {

    cursor: auto;

    .content .list > .list-item.is-borderless {
      border-block-end: 0;
    }
  }

  &:hover {

    .card-image {
      height: 130px;
      cursor: auto;

      img {
        width: 100%;
        opacity: 0.6;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }

    .card-content {

      cursor: auto;

      .content .list > .list-item.is-borderless {
        border-block-end: 0;
      }

      .actions {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;

        a {
          opacity: 1;
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
        }

        a:nth-child(1) {
          -webkit-transition-delay: .2s;
          transition-delay: .2s;
        }

        a:nth-child(2) {
          -webkit-transition-delay: .25s;
          transition-delay: .25s;
        }

        a:nth-child(3) {
          -webkit-transition-delay: .3s;
          transition-delay: .3s;
        }

      }

    }

  }

  .meal-points {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
  }

  .card-image {
    height: 245px;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;

    img {
      width: 100%;
      display: block;
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: opacity 0.5s, transform 0.5s;
      transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    }

  }

  .card-content {
    height: 185px;
    max-height: max-content;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;

    .actions {

      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 10px;
      margin: 0;
      padding: 0;

      a {
        opacity: 0;
        -webkit-transform: translateY(45px);
        transform: translateY(45px);
        -webkit-transition: opacity .4s, -webkit-transform .4s;
        transition: opacity .4s, -webkit-transform .4s;
        transition: opacity .4s, transform .4s;
        transition: opacity .4s, transform .4s, -webkit-transform .4s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;

        &:nth-child(1) {
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
        }

        &:nth-child(2) {
          -webkit-transition-delay: .1s;
          transition-delay: .1s;
        }

        &:nth-child(3) {
          -webkit-transition-delay: .2s;
          transition-delay: .2s;
        }
      }
    }

  }

}
