/*
 * This is a hack to fix the autofill color issue in Chrome
 * https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
 */

:root {
  --text-fill-color: #000000; /* Default to black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-fill-color: #ffffff; /* Use white in dark mode */
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--text-fill-color);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px var(--color-bg-form);
}

* {
  -webkit-font-smoothing: antialiased;
}
