@use "sass:color";
@use "custom" as *;

figure.img-home-card-bonus.glow {
  //animation: glow 2s infinite;
}

span.button.datepicker-selector {
  height: 48px;
  width: 48px;
}

#datepicker {
  height: 40px
}

.swipe {
  width: 100%;
  height: 4rem;
  position: absolute;
  background-color: green;
  border-radius: 2px;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@keyframes RingProgress {
  0% {
    stroke-dasharray: 0 100;
  }
}

#mobile-desktop-card {
  .column {
    .box {
      background-color: $color-bg-white-ter;

      .card {
        background-color: white;
      }

      .columns {
        .home-card-mobile {
          background-color: white;
        }
      }
    }
  }
}

#home-desktop-cards {
  height: fit-content;
  background-color: $color-bg-white-ter;

  #daily-points-home-desktop-card > .card > .card-content {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
  }

  #rings-home-card {
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;

    p.ring-day {
      position: relative;
      font-family: 'CAbel', sans-serif;
      top: -45%;
      left: 12%;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    div.ring-container {

      padding-left: calc(3rem + 16px * 2);

      .ring-value {
        left: -50%;
        width: 50px;
      }

      .rings {

        height: 10rem;
        width: 10rem;
        margin: auto !important;

        &.today {
          height: 14rem;
          width: 14rem;
          margin: auto !important;
        }

        .completed {
          animation: RingProgress 1.5s ease-in-out forwards;
          stroke-linecap: round;

        }

      }

    }

  }
}


// Common styles for the rings

.ring {

  transform-origin: 50%;

  &.fail {
    .background {
      stroke: color.adjust($color-red, $alpha: -0.8);
    }

    .completed {
      stroke: $color-red;
    }
  }

  &.success {
    .background {
      stroke: color.adjust($color-green, $alpha: -0.8);
    }

    .completed {
      stroke: $color-green;
    }
  }

  circle {
    fill: none;
  }

}




