@use "sass:color";
@use "custom" as *;

#searchOpenFoodFact {
  width: 26svw;
}

#searchOpenFoodFacts {
  height: 36svh;
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  &.is-single-result {
    height: auto;
  }
}

#searchOpenFoodFacts-empty {
  height: 100%;
}


.tableSearch {
  width: fit-content;
}

label.ingredient_points {
  background-color: color.adjust($color-points, $lightness: 12%);
}

label.ingredient_energy {
  background-color: color.adjust($color-energy, $lightness: 12%);
}

label.ingredient_proteins {
  background-color: color.adjust($color-proteins, $lightness: 8%);
}

label.ingredient_lipids {
  background-color: color.adjust($color-lipids, $lightness: 10%);
}

label.ingredient_carbohydrates {
  background-color: color.adjust($color-carbohydrates, $lightness: 10%);
}

label.ingredient_fibers {
  background-color: color.adjust($color-fibers, $lightness: 12%);
}
