@use 'bulma/sass/components/navbar';
@use 'custom';

h6.profile-header {
  width: fit-content;
  border-radius: .25rem;
  font-family: "CAbel", sans-serif;
}

figure.header-figure {
  height: 300px;
  width: 100%;
}

div.simpleParallax {
  border-radius: .5rem;
}

img.header-image {
  object-fit: cover;
}

.page-content {
  min-width: 100%;
  max-width: 100%;
}

.is-borderless {
  border: 0
}

// List ingredients, meals, dishes
#dropdown-menu {
  height: 30svh !important;
  top: 45px !important;

  .dropdown-content {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    div.is-flex > span {
      display: block;
      display: -webkit-box;
      line-height: 2.5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: .5rem 0;
      //-webkit-line-clamp: 1;
      white-space: pre-wrap;
    }
  }

}

#user-notifications-desktop {
  height: 3.25rem;
}

div.control.has-icons-left {

  /*input.is-danger + span.icon {
      margin-top: -13px;
  }*/

  /*input.is-danger[type="email"] + span.icon {
      margin-top: -21px;
  }*/

  & > span.icon {
    height: 40px;
    display: flex;
    width: 40px;
    align-items: center;
    margin-left: 0;

    &.datepicker {
      margin-left: 20px;
      height: 70px !important;
    }
  }
}

#user-notifications-mobile {
  top: 2rem;
  right: 2rem;
  z-index: 200;

  a.navbar-link {
    float: right;
    width: fit-content;
  }
}

#user-notifications-dropdown {
  overflow: scroll;
  height: auto;
  max-height: 42svh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#content {
  &.is-desktop {
    margin-top: navbar.$navbar-height + 2rem;
  }

  &.is-mobile {
    margin-top: 0
  }
}

.livewire-table-container {
  table {
    border-radius: .75rem;
  }
}

select.is-danger {
  border: 1px solid var(--bulma-danger);
  box-shadow: rgba(254, 56, 96, 0.25) 0 0 0 3px;
}

div.box.has-shadow-warning-light {
  box-shadow: 0 0 0 1px var(--bulma-warning-light);
}

div.box.has-shadow-success-light {
  box-shadow: 0 0 0 1px var(--bulma-success-light);
}


