@use "sass:color";
@use "custom" as *;

div.card.intakes {
  border-radius: 3rem;
  height: 10rem;
  width: 5rem;
  transition: all 0.3s;

  .card-content {

    .media .media-content {

      figure {
        top: -4px;
      }

      p.intake {
        font-size: .9rem;
      }

    }

  }

  &.points {
    border: 4px solid $color-points;
    background-color: color.adjust($color-points, $lightness: 12%);
  }

  &.energy {
    border: 4px solid $color-energy;
    background-color: color.adjust($color-energy, $lightness: 12%);
  }

  &.proteins {
    border: 4px solid $color-proteins;
    background-color: color.adjust($color-proteins, $lightness: 8%);
  }

  &.lipids {
    border: 4px solid $color-lipids;
    background-color: color.adjust($color-lipids, $lightness: 10%);
  }

  &.carbohydrates {
    border: 4px solid $color-carbohydrates;
    background-color: color.adjust($color-carbohydrates, $lightness: 10%);
  }

  &.fibers {
    border: 4px solid $color-fibers;
    background-color: color.adjust($color-fibers, $lightness: 12%);
  }

  & > .card-content > .media > .media-content > figure {
    border-radius: 2rem;
  }
}

.round-image {
  border-radius: 50%;
  overflow: hidden;
}

.round-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
}

span.dropdown-toggle-ingredients.rotate-forward {
  animation: rotateForward .3s ease forwards;
}

span.dropdown-toggle-ingredients.rotate-backward {
  animation: rotateBackward .3s ease forwards;
}

input.quantity-input {
  width: 5rem;
}

li.ingredient-content {
  word-break: break-word;
}

@keyframes rotateForward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateBackward {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
