@use "sass:map";
@use "custom" as *;

$weekdays: (
        'monday': 'Lundi',
        'tuesday': 'Mardi',
        'wednesday': 'Mercredi',
        'thursday': 'Jeudi',
        'friday': 'Vendredi',
        'saturday': 'Samedi',
        'sunday': 'Dimanche'
);

@function translate-day($day) {
  @return map.get($weekdays, $day);
}

@media (max-width: 768px) {

  #buttons-login {
    div.control {
      width: 100%;

      a.button, button {
        width: 100%
      }
    }
  }

  #content {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    overscroll-behavior-y: none;

    &::-webkit-scrollbar {
      display: none !important; // Safari and Chrome
    }
  }

  .tabs {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .box {
    box-shadow: 0 0.2em .2em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  }

  .card {
    box-shadow: 0 0.5em .6em -0.225em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  }

  // Modal
  div.modal-content {
    overflow: hidden;
    width: 90%;
    margin: auto;

    .box {
      height: 100%;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;

    }
  }

  #datepicker {
    width: 100%;
    padding: 5px;
    font-size: .85rem;
  }

  .tableSearch, button.openFoodFactsButton, #ingredient_unit_container, #ingredient_unit_container div.field span.select,
  #ingredient_unit_container div.field span.select select {
    width: 100%;
  }
  .card.dish {
    .card-content.is-open-for-mobile {
      overflow: scroll;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;

      .actions {
        opacity: 1;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;

        a {
          display: block;
          width: 25%;
          opacity: 1;
        }
      }
    }
  }
  .list-item-title {
    margin-top: -2rem
  }
  .list-item-controls {
    position: absolute;
    right: 1rem;
    bottom: .2rem
  }
  .list-item-mobile {
    display: contents;
  }
  .media-content {
    overflow-x: visible;
  }

  // List ingredients, meals, dishes
  #dropdown-menu {
    height: 50svh !important;
    top: 40px !important;
    width: 130%;
    left: -15%;

    .dropdown-content {
      height: 45%;
      -webkit-overflow-scrolling: touch;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

    }

  }

  div.ingredients-dishes {
    margin-bottom: $mobile-margin-bottom !important;
  }

  // Notifications

  #notifications-container-live, #notifications-container-session {
    width: 100%;
  }

  .notification {
    left: initial;
    width: 90%;
    margin: auto;
  }

  // Menu

  #searchOpenFoodFact {
    width: auto;
  }

  #user-notifications-dropdown-mobile {
    position: absolute;
    right: 0;
    top: .75rem;
    transform: translateX(0%);
  }

  #dropdown-button-mobile {
    z-index: 10;
    top: 4.5rem;
    width: 100%;
    max-height: 82svh;
    overflow: scroll;
  }

  #navbar-mobile {
    background-color: $navbar-mobile-bg;
    width: 95svw;
    bottom: 15px;
    border-radius: 2rem;

    a.is-active-link, a:hover {
      background-color: $color-link-two;
      border-radius: 2rem;
      color: $mobile-slide-menu-background;;
    }

  }
  nav#slide-menu {
    position: fixed;
    top: 0;
    left: -100svw;
    bottom: 0;
    display: block;
    float: left;
    width: 100%;
    max-width: 284px;
    height: 100%;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    background-color: $mobile-slide-menu-background;
  }

  nav#slide-menu > ul {
    display: block;
    margin: 40px;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }

  nav#slide-menu > ul li {
    cursor: pointer;

    &.mobile-link {
      background-color: $mobile-slide-menu-background;

      span.icon-text > a:not(.is-active) {
        color: $text !important;
      }

    }
  }

  .livewire-table-container, .profile-delete-account {
    margin-bottom: $mobile-margin-bottom;
  }

  .profile-update-account {
    margin-top: $mobile-margin-bottom;
  }

  body.menu-active nav#slide-menu {
    left: 0;
  }

  body.menu-active nav#slide-menu ul {
    left: 0;
    opacity: 1;
  }

  /*
    Profil
   */

  #select-health-target {
    width: 100%;

    div.field p.control span.select {
      width: 100%;

      select {
        width: 100%;
      }
    }
  }

  #form-web-notifications {
    div.field {
      margin: 1rem 0;

      label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
        text-wrap: wrap;
      }
    }
  }

  #buttons-notifications {
    button {
      margin: .5rem auto !important;
      width: 100%;
    }
  }

  /*
     Activities
   */

  #select-activity {
    width: 100%;

    div.field p.control span.select {
      width: 100%;

      select {
        width: 100%;
      }
    }
  }

  /*
      Weight
   */

  #sliderWithValue {
    width: 100%;
  }

  input[type="range"].slider:not([orient="vertical"]).has-output + output, input[type="range"].slider:not([orient="vertical"]).has-output-tooltip + output {
    line-height: 1.15rem !important;
  }

  /*
      Home Cards
   */

  #rings-home-card.mobile {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    overflow-x: scroll;

    div.ring-container {
      position: relative !important;
      -ms-overflow-style: none;
      scrollbar-width: none;
      min-width: 100%;
      display: flex;
      height: $height;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* Set where the snapping should happen */
      scroll-snap-align: center;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }

      .ring-value {
        top: 50%;
        position: absolute !important;
        display: flex !important;
        width: 80px;
        height: 30px;

        span:first-child {
          width: 40px !important;
          height: 40px !important;
        }

      }

      $weekdays: (
              'monday': 'Lundi',
              'tuesday': 'Mardi',
              'wednesday': 'Mercredi',
              'thursday': 'Jeudi',
              'friday': 'Vendredi',
              'saturday': 'Samedi',
              'sunday': 'Dimanche'
      );

      @mixin day-style($day) {
        &.#{$day}::before {
          content: translate-day($day);
          font-family: "CAbel", sans-serif;
          pointer-events: none;
          display: block;
          width: auto;
          height: auto;
          font-size: 1.25rem;
          color: #4a5562;
          top: .5rem;
          left: .75rem;
          text-align: center;
          position: absolute;
        }
      }

      @each $day, $day_fr in $weekdays {
        @include day-style($day);
      }

      .rings {
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: $ringRegularSize;
        width: $ringRegularSize;
        margin: 1.5rem auto 0;

        &.today {
          height: $ringTodaySize;
          width: $ringTodaySize;
        }


      }

    }

  }

  /* Bilan */

  div.bilan-graphs-mobile, div.bilan-cards-mobile {
    box-shadow: none !important;
  }

  #graph_activities_follow_up {
    height: auto !important;
    width: 260px !important;
    margin: auto;
    display: block;
  }

  div.graph-buttons {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-top: 0;
    margin-bottom: 2rem !important;

    div.mr-2 {
      margin: 1rem 0 .80rem 0 !important

    }
  }

  div.bilan-graphs-mobile.interactions {
    padding-bottom: 200px !important;
    height: 50rem;

    canvas {
      width: 100% !important;
      height: auto !important;
    }

  }

  div.bilan-card-badges-container {
    height: 400px;
    margin-bottom: $mobile-margin-bottom !important;
  }

  #card_ingredients {

    height: 400px;
    width: 100%;
    margin: auto;

    div.list div.list-item {

      height: 80px;

      .list-item-controls {
        display: contents;
      }

      .list-item-title {
        margin-top: 0;
      }

      &:first-child {
        margin-top: 25rem;
      }
    }
  }

  div.bilan-card-badges-container {
    margin-bottom: $mobile-margin-bottom;

    div.list {
      div.list-item {
        margin: .65rem 0 !important;
      }
    }
  }

  div.bilan-cards-mobile {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }

    div.column:not(.box-content) {
      scroll-snap-align: center;
      box-shadow: none !important;
      width: 100svw;
    }
  }

  /* Meals and Dishes */

  #intakes-cards-dishes, #intakes-cards-meals {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    div.column {
      scroll-snap-align: center;

      div.card {
        box-shadow: none !important;
      }

    }

  }

  div.home-card-mobile {
    width: 46%;
  }

  /*
    Content
  */

  #content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: $mobile-content-background;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: -3px 0 6px $mobile-content-background-box-shadow;
    -webkit-box-shadow: -3px 0 6px $mobile-content-background-box-shadow;
    box-shadow: -3px 0 6px $mobile-content-background-box-shadow;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;

    div.page-content {
      padding-top: 4rem;
      transition: all 500ms;
      overflow: hidden;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }


      &.mobile-notifications {
        opacity: .4;
      }

      div.list div.list-item.list-meal:nth-child(5) {
        margin-bottom: $mobile-margin-bottom;
      }
    }

  }

  body.menu-active {

    #content {
      left: 284px;
      border-radius: 7px 0 0 7px;
      padding: 5rem;
    }

    .page-content {
      opacity: .6;
    }

    #navbar-mobile {
      opacity: 0;
      cursor: none;
    }

  }

  #navbar-mobile {
    transition: all ease-in-out 300ms;
  }

  .navbar-burger {
    top: 1.5rem;
    left: 2rem;
    z-index: 200;
  }

  // Meal
  div.button-toggle-menu-list {
    span {
      font-size: .95rem;
    }
  }

  /* Calendar */

  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin: .25rem 0;
  }

  .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    margin-left: .25rem;
  }

  #calendar {
    margin-bottom: $mobile-margin-bottom;

    .fc-view-harness {

    }
  }

}

@media (max-width: 768px) and (prefers-color-scheme: dark) {

  #content {
    background-color: inherit;
    box-shadow: -5px 0 10px $color-bg-card;
  }

  nav#slide-menu {
    background-color: $color-bg-form;

    ul li.mobile-link {
      background-color: $color-bg-form;
    }

  }

}


@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {

  div.bilan-graphs-mobile.interactions {
    padding-bottom: 350px !important;
    height: 50rem;

    canvas {
      width: 100% !important;
      height: max-content !important;
    }

  }

}


@media (min-width: 769px) and (max-width: 1410px) {
  div.tab-content {
    .search-tab {
      input.search-tab-content {
        width: 50% !important;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .modal-content {
    width: 70%;
  }

  #card_ingredients {
    min-height: 500px;
  }
}

@media (min-width: 1921px) {
  #content {
    width: 1600px;
    margin: auto;
  }
  .modal-content {
    width: 1300px;
  }
  #card_ingredients {
    min-height: 800px;
  }
  figure.header-figure {
    height: 450px;
  }
}
