img.openFoodFactsScores {
  width: auto;
  height: 64px;
  margin: 0 auto;
  display: block;
}

figure.score {
  height: fit-content;
}

div.modal-content {
  overflow: hidden;

  .box {
    height: 100%;
    overflow: scroll;
  }
}

span.allergen {
  align-items: center;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  background-color: #ffedc2;
  color: #49360a;
  border-radius: 0.25rem;
  cursor: pointer;
}

button.openFoodFactsButton {
  width: fit-content;
}

figure.score.has-tooltip-ended {
  &:before {
    transform: translate(-90%, 100%) !important;
  }
}

div.open-food-facts-box > div > figure img {
  border-radius: .3rem
}

span.tag.brand {
  width: fit-content
}

h4.product_name {
  top: 2rem
}

div.product_header {
  height: fit-content !important
}
