.notification.banner-notification {
  position: sticky;
  z-index: 5;
}

#notifications-container-live, #notifications-container-session {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  z-index: 2;
}

.notification {
  position: relative;
  top: 5rem;
  z-index: 50;
  padding-right: 3rem;
  width: fit-content;
  width: 100%;
  left: calc(100vw - 110%);

  & button.delete {
    position: absolute;
    right: 1rem;
    padding-left: 1rem;
  }
}
