@use 'bulma/sass/components/navbar';

#sidenav {
  position: sticky;
  display: inline-block;
  vertical-align: top;
  max-height: 100vh;
  overflow-y: auto;
  top: 20px;
  bottom: 0;

  &.is-desktop {
    margin-top: navbar.$navbar-height;
  }
}
