input[type="range"].slider.has-output-tooltip + output, input[type="range"].slider.has-output + output {

  width: 4rem !important;
  line-height: 1rem !important;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  font-weight: bold;
  color: var(--bulma-black-ter);
  background: var(--bulma-white-ter);

  &:after {
    content: 'kg'
  }
}

input[type="range"].slider:not([orient="vertical"]).has-output {
  width: calc(100% - 130px);
}
