@use "sass:list";
@use "sass:math";
$primary-color: #8123ce;
$secondary-color: #3a54c6;
$third-color: #46a7dc;

body {
    margin: 0;
}

button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
}

.hero {
    overflow: hidden;
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 50%, $third-color 100%);

    .hero-body {
        width: 100%;

        .columns {
            width: 100%;
        }

        .card-header {
            box-shadow: none;
        }
    }
}

.shapes {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.random-shape:after {
    font-family: "Material Symbols Outlined", serif;
}

$colors: #45ffdc, #ffef96, #ff94a1, #cda1ff, #31b4ff, #4800c0, #9300c9;
$shapes: 'local_pizza', 'nutrition', 'lunch_dining', 'egg', 'cake', 'local_bar', 'ramen_dining', 'icecream', 'sports_bar';
$shape-count: 80;

@for $i from 1 through $shape-count {
    $shape-size: 0.7 + math.random(20);
    $rotation: math.random(360);
    $speed: 40 + math.random(30);
    $color-key: math.random(list.length($colors));
    $shape-color: list.nth($colors, $color-key);
    $shape-key: math.random(list.length($shapes));
    $shape-type: list.nth($shapes, $shape-key);

    @keyframes shape-#{$i} {
        0% {
            transform: translate3d(0, 0, 0) rotate(#{$rotation + 0}deg);
        }
        100% {
            transform: translate3d(0, 0, 0) rotate(#{$rotation + 360}deg);
        }
    }

    .shape-container--#{$i} {
        animation: shape-#{$i} #{$speed}s linear infinite;

        .random-shape:after {
            margin: #{$shape-size}rem;
            color: $shape-color;
            font-size: #{$shape-size * 0.2}rem;
            content: $shape-type;
        }
    }
}
